modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0"]

[userenv]

[userenv.shared]
REDIS_UPSTASH_REST_URL = "rediss://default:AUUHAAIncDJmM2ZlMTUwMjA2YTg0MzA0YTQ4MmEyY2E1NTQ5MjU1NnAyMTc2NzE@suitable-raven-17671.upstash.io:6379"
STRIPE_WEBHOOK = "https://flashfusion-3ei15stam-chaos-collective.vercel.app/api/webhooks/stripe"
GOOGLE_OAUTH_CLIENTID = "420587942476-brjccvvvfd00m55khmbsd1me5ahricdo.apps.googleusercontent.com"
